@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@font-face {
    font-family: 'Beausite Classic Trial';
    src: url('/assets/fonts/Beausite Classic Trial Clear.ttf') format('truetype');
    font-display: block !important;
  }

* {
    font-family: 'Beausite Classic Trial';
    @apply text-[#1F2632] dark:text-white;
}

.heading-h1 {
  @apply text-heading-h1;
}

.heading-h2 {
  @apply text-heading-h2;
}

.heading-h3 {
  @apply text-heading-h3;
}

.heading-h4 {
  @apply text-heading-h4;
}

.heading-h5 {
  @apply text-heading-h5;
}

.heading-h6 {
  @apply text-heading-h6;
}

.paragraph {
  @apply text-paragraph leading-relaxed;
}